{% extends 'base.html' %}

{% block head_title %}
Admin | {{request.user}}
{% endblock head_title %}

{% block content %}
<div class="row d-flex">
    <!-- sidebar -->
    <div class="col-2 border">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Dashboards
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                      </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Students
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{% url 'admin students' %}">Dashboard</a></li>
                        <li class="list-group-item" href="">Student List</li>
                        <li class="list-group-item" href="">Attendance</li>
                        <li class="list-group-item" href="">Membership Info</li>
                        <!-- <li class="list-group-item">And a fifth one</li> -->
                      </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                      </ul>
                </div>
              </div>
            </div>
          </div>
    </div>

    <!-- dashboard area -->
    <div class="col-10 p-3 flex-grow-1 border">
        <h1>Analytics Dashboard</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                        <div>Cash Deposits</div>
                        <div>Invested Dividends</div>
                        <div>Capital Gains</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card"></div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Timeline
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    sales last month
                </div>
            </div>
            <div class="col">
                <div class="card">
                    sales income
                </div>
            </div>
            <div class="col">
                <div class="card">
                    last month sales 
                </div>
            </div>
            <div class="col">
                <div class="card">
                    total revenue 
                </div>
            </div>
        </div>
        <!-- students data -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h3>Students</h3>
                        <p class="">Count : <b>{{user_list.count}}</b></p>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Name

                                    </th>
                                    <th scope="col">Belt</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Start Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{user.last_name}}, {{user.first_name}}</td>
                                    <td>
                                        {{user.profile.belt}}
                                    </td>
                                    <td>Otto</td>
                                    <td>{{user.date_joined}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">

                                {% if users.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{users.previous_page_number}}">Previous</a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link">Previous</a></li>
                                {% endif %}

                                {% for i in users.paginator.page_range %}
                                    {% if i == users.number %}
                                    <li class="page-item"><a class="page-link active" href="?page={{i}}">{{i}}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if users.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{users.next_page_number}}">Next</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link disabled" href="">Next</a></li>
                                {% endif %}

                                
                            </ul>
                        </nav>
                        
                    </div>
                </div>
            </div>
        </div>

        

        <!--  -->
        <div class="row d-flex mt-3">
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        Task List
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
            
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        Chat Box
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}