{% extends 'base.html' %}

{% block head_title %}
Jiu Jitsu
{% endblock head_title %}

{% block content %}
<div class="row" >
    <div class="col" id="banner">
        <img id="banner-img" src="/media/images/empty_gym.jpg" alt="">
    </div>
</div>
<div class="row">
    <div class="col">
        <div>
            <h2>Welcome to VYTL Jiu Jitsu!</h2>
            <p></p>
        </div>
    </div>
</div>
<div class="row" id="home_photo_row">
  <div id="photo_row">
    <!-- <img src="/media/images/zach_kesa.jpg" alt="..." > -->
  </div>

    <div id="photo_row">
      <!-- <img src="/media/images/paul_w_mount.jpg" alt="..." > -->
    </div>

    <div id="photo_row">
      
    </div>
</div>

<div class="row">
    <div class="col">
        Banner/Full Width Image
    </div>
</div>
{% endblock content %}