{% extends 'base.html' %}

{% block head_title %}
Jiu Jitsu : Instructors
{% endblock head_title %}

{% block content %}
<div class="row">
    <div class="col-5"></div>
    <div class="col-7">
        <h4>Paul Williams</h4>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <h4>Gary Robertson</h4>
    </div>
    <div class="col-5"></div>
</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-7">
        <h4>Alex Morrow</h4>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <h4>Jesse Esselman</h4>
    </div>
    <div class="col-5"></div>
</div>
<h1>Instructors</h1>
{% endblock content %}