{% extends 'base.html' %}

{% block head_title %}
VYTL Jiu Jitsu : Schedule
{% endblock head_title %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>Schedule</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">6:00 am</th>
                    <td class="table-secondary">Closed</td>
                    <td class="table-success">Sunrise Session</td>
                    <td class="table-success">Sunrise Session</td>
                    <td class="table-success">Sunrise Session</td>
                    <td>-</td>
                    <td class="table-danger">Friday Morning Rolls</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">6:30 am</th>
                    <td class="table-secondary">Closed</td>
                    <td class="table-success">Sunrise Session</td>
                    <td class="table-success">Sunrise Session</td>
                    <td class="table-success">Sunrise Session</td>
                    <td>-</td>
                    <td class="table-danger">Friday Morning Rolls</td>
                    <td class="table-success">Saturday Morning Lab</td>
                  </tr>
                  <tr>
                    <th scope="row">7:00 am</th>
                    <td class="table-secondary">Closed</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="table-success">Saturday Morning Lab</td>
                  </tr>
                  <tr>
                    <th scope="row">7:30 am</th>
                    <td class="table-secondary">Closed</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="table-success">Saturday Morning Lab</td>
                  </tr>
                  <tr>
                    <th scope="row">11:00 am</th>
                    <td class="table-secondary">Closed</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="table-success">Open Mat</td>
                  </tr>
                  <tr>
                    <th scope="row">11:30 am</th>
                    <td class="table-secondary">Closed</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="table-success">Open Mat</td>
                  </tr>
                  <tr>
                    <th scope="row">12:00 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td>-</td>
                    <td class="table-success">Noon Training</td>
                    <td class="table-success">Noon Training</td>
                    <td class="table-success">Noon Training</td>
                    <td>-</td>
                    <td class="table-success">Open Mat</td>
                  </tr>
                  <tr>
                    <th scope="row">12:30 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td>-</td>
                    <td class="table-success">Noon Training</td>
                    <td class="table-success">Noon Training</td>
                    <td class="table-success">Noon Training</td>
                    <td>-</td>
                    <td class="table-success">Open Mat</td>
                  </tr>
                  <tr>
                    <th scope="row">1:00 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="table-success">Open Mat</td>
                  </tr>
                  <tr>
                    <th scope="row">1:30 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td class="table-success">Open Mat</td>
                  </tr>
                  <tr>
                    <th scope="row">4:30 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td class="table-success">Early Evening/ After Work</td>
                    <td class="table-success">Early Evening/ After Work</td>
                    <td class="table-success">Early Evening/ After Work</td>
                    <td class="table-success">Early Evening/ After Work</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">5:00 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td class="table-success">Early Evening/ After Work</td>
                    <td class="table-success">Early Evening/ After Work</td>
                    <td class="table-success">Early Evening/ After Work</td>
                    <td class="table-success">Early Evening/ After Work</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">5:30 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">6:00 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">6:30 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td class="table-warning">Intermediate/ Advanced</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">7:00 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td class="table-danger">Shark Tank</td>
                    <td class="table-danger">Shark Tank</td>
                    <td class="table-danger">Shark Tank</td>
                    <td class="table-danger">Shark Tank</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">7:30 pm</th>
                    <td class="table-secondary">Closed</td>
                    <td class="table-danger">Shark Tank</td>
                    <td class="table-danger">Shark Tank</td>
                    <td class="table-danger">Shark Tank</td>
                    <td class="table-danger">Shark Tank</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="card-footer">
            <table class="table">
                <tr>
                    <th scope="col" class="table-success">All levels welcome</th>
                    <th scope="col" class="table-warning">Intermediate/ Advanced</th>
                    <th scope="col" class="table-danger">Rolling Only</th>
                </tr>

            </table>
        </div>
    </div>

</div>
{% endblock content %}