{% extends 'base.html' %}

{% block head_title %}
VYTL Admin : {{request.user}}
{% endblock head_title %}

{% block content %}
<div class="row d-flex">
    <!-- sidebar -->
    <div class="col-2 border">
        Menu
    </div>

    <!-- dashboard area -->
    <div class="col-10 p-3 flex-grow-1 border">
        <h1>Analytics Dashboard</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                        <div>Cash Deposits</div>
                        <div>Invested Dividends</div>
                        <div>Capital Gains</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card"></div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Timeline
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    sales last month
                </div>
            </div>
            <div class="col">
                <div class="card">
                    sales income
                </div>
            </div>
            <div class="col">
                <div class="card">
                    last month sales 
                </div>
            </div>
            <div class="col">
                <div class="card">
                    total revenue 
                </div>
            </div>
        </div>
        <!-- students data -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">Students</div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Instructor</th>
                                    <th scope="col">Belt</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Start Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{user.first_name}} {{user.last_name}}</td>
                                    <td>{{user.id}}</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        

        <!--  -->
        <div class="row d-flex mt-3">
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        Task List
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
            
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        Chat Box
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}