{% extends 'base.html' %}

{% block head_title %}
Profile | {{request.user}}
{% endblock head_title %}

{% block content %}
<div class="row">
    <div class="col-10">

        <div class="card text-center">
            <div class="card-header">
                <h5>{{request.user}}</h5>
            </div>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                        <div>
                            {% if user.badge.day_one %}
                            <span class="badge text-bg-info">Day One</span>
                            {% endif %}
                        </div>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        
                    </div>
                </div>
            </div>
            <!-- <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
            <div class="card-footer text-body-secondary">
                Member since {{request.user}}
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
                <h3>Classes Attended : {{attendance.count}}</h3>

            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Classes</th>
                        <th scope="col">Topic Covered</th>
                        <!-- <th scope="col">Handle</th> -->
                      </tr>
                    </thead>
                    <tbody>
                        {% for class in attendance %}
                      <tr>
                        <th scope="row">{{class.class_date}}</th>
                        <td>{{class.class_info}}</td>
                        <td></td>
                        <!-- <td>@mdo</td> -->
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            
        </div>

    </div>
    <div class="col-2">
        <ul class="list-group list-group-flush">
            {% if user.is_superuser %}
            <li class="list-group-item text-center">
                <a href="{% url 'admin panel' %}" class="btn btn-primary">Go to admin panel</a>
            </li>
            {% endif %}
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>

    </div>
</div>
{% endblock content %}